@model ResultsViewModel

<div class="col-12 d-flex justify-content-center">

    <p>Buy Date = @Model.MinDate </p>
    <p>Buy Price = @Model.MinPrice </p>
    <p>Sell Date = @Model.MaxDate </p>
    <p>Sell Price = @Model.MaxPrice </p>

</div>
