@model ResultsViewModel

<div class="col-12 d-flex justify-content-center">

    <p>
        Buy Date = @Model.MinDate <br>
        Buy Price = @Model.MinPrice <br>
        Sell Date = @Model.MaxDate <br>
        Sell Price = @Model.MaxPrice <br>
    </p>
    

</div>
